* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}

/* container */
#container {
  padding: 16px;
  background-color: white;
}

/* header */
#header {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

#header > a:hover {
  opacity: 0.8;
}

#logo {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

#heading {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 4px;
  color: #111111;
}

#members,
#home {
  color: #636c76;
  text-decoration: none;
  cursor: pointer;
}

#members:hover,
#home:hover {
  color: #111111;
  text-decoration: underline;
}

#home {
  display: none;
}

/* home page */
textarea {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #111111;
  background-color: white;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  width: 400px;
  outline: none;
  resize: none;
  padding: 8px;
  overflow: hidden;
}

#textarea-input {
  height: 50px;
  margin-bottom: 12px;
}

#textarea-input:focus {
  border: 1px solid #111111;
}

/* result page */
#result-page {
  display: none;
}

#textarea-result-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  width: 400px;
  border-radius: 6px;
}

#textarea-result {
  display: block;
  font-size: 12px;
  color: #111111;
  width: 100%;
  outline: none;
  border: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
  resize: none;
  padding: 8px;
  overflow: hidden;

  border: 1px solid #d0d7de;
  border-radius: 6px;
}

#overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  visibility: hidden;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
}

#overlay.active {
  visibility: visible;
  background-color: #f6f7f8;
}

#overlay > img {
  opacity: 0;
  width: 22px;
  height: 22px;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  pointer-events: none;
}

#overlay.active > img {
  opacity: 1;
  transform: scale(1.2);
}

/* members page */
#members-page {
  display: none;
  width: 240px;
}

#members-form {
  margin-bottom: 12px;
}

#inputs-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.input-name-wrapper {
  width: 150px;
  margin-right: 12px;
}

#input-name {
  width: 100%;
  height: 35px;
  font-size: 12px;
  color: #111111;
  background-color: white;
  outline: none;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 8px;
  padding-bottom: 9px;
}

#input-name:focus {
  border: 1px solid #111111;
}

.shift-wrapper {
  flex: 1;
}

select {
  width: 100%;
  padding-right: 36px;
  background-image: url("images/select.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 14px;
  line-height: 1.5;
  -webkit-appearance: none;
  appearance: none;
}

select:focus {
  outline: none;
}

#shift {
  font-size: 12px;
  color: #111111;
  background-color: white;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  height: 35px;
  padding-left: 8px;
}

#shift:focus {
  border: 1px solid #111111;
}

#members-list-container {
  overflow: hidden;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

#members-list {
  flex-grow: 1;
  max-height: 220px;
  overflow-y: auto;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: #111111;
  padding: 8px;
}

.members-list-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #111111;
  background-color: white;
  padding: 8px;
  border-radius: 6px;
}

.members-list-item > div {
  flex: 1;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.members-list-item > div:first-child {
  padding-right: 10px;
}

.members-list-item:hover {
  background-color: #f6f7f8;
}

.members-list-item img {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.members-list-item img:hover {
  opacity: 1;
}

/* button */
button {
  outline: none;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  padding: 7px 4px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #313131;
}

button.btn-primary {
  background-color: #111111;
  color: #fafafa;
  border: 1px solid black;
}

button.btn-primary:hover {
  background-color: black;
}

button.btn-secondary {
  background-color: #f6f8fa;
  color: #111111;
  border: 1px solid #d0d7de;
}
button.btn-secondary:hover {
  background-color: #eef1f4;
}

/* alert */
#home-alert,
#members-alert {
  display: none;
}

.alert {
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  padding: 8px;
  border: 1px solid #fbc4c3;
  background-color: #fdebe9;
  border-radius: 6px;
  color: #686868;
  margin-bottom: 12px;
}

.alert-value {
  text-align: left;
}

.close-alert {
  min-height: 16px;
  min-width: 16px;
  cursor: pointer;
  opacity: 0.75;
}

.close-alert:hover {
  opacity: 1;
}
